h3 {
	margin-right: 20px;
	padding: 10px;
	color: #ffffff;
}

form h3 {
	background-color: #0083e6;
	border: 1px solid #0083e6;
	
	/* Rounded Corners */
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

#contactHeader {
	background-color: #999999;
}

#mainContentContainer {
	height: auto;
	padding-bottom: 60px;
}

form {
	height: auto;
	border: 1px solid #888888;
	
	/* Rounded Corners */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	padding-bottom: 17px;

}

.left {
	float: left;
    position: relative;
    top: 16px;
    left: 21px;
    width: 585px;
}

.rightForm {
	position: absolute;
	left: 285px;
	top: 57px;
}

.rightForm label {
	margin: 15px 0 5px 15px;
}

.right {
	position: absolute;
	left: 607px;
	top: 47px;
	width: 302px;
	padding: 0px 30px 0px 30px;
}

#stepContent .sectionHeading {
	margin: 0px 0px 30px 0px;
}

.headShot {
	float: left;
	border: 1px solid #888888;
	margin-right: 20px;
}

input {
	border: 1px solid #cccccc;
	width: 200px;
	margin-left: 45px;
}

label {
	display:block;
	font-weight: bold;
	margin: 15px 0 5px 45px;
	color: #555555;	
}

label.error { 
	color: red; 
}

textArea{
    border: 1px solid #CCCCCC;
    height: 133px;
    position: relative;
    top: -2px;
    left: -1px;
    width: 235px;
    margin-left: 15px;
}

#phoneLine {
	position: relative;
	top: 9px;
}

.phone {
	text-align: center;
	position: relative;
	top: -9px;
}

#stepContent .button {
    position: relative;
    left: 408px;
    top: -20px;
}

.buttonBar {
	height: 30px;
	width: 545px;
	top: 31px;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#footer {
	top:  -45px;
}