#header {
    background-color: transparent;
    color: #5E5E5E;
    height: 134px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    text-align: left;
    top: -20px;
    vertical-align: top;
    width: 960px;
}
#header a {
    color: #5E5E5E;
}
#header a:hover {
    color: #0066B3;
}
#header h1 {
    color: #0083E6;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 36px;
    height: 48px;
    left: 1px;
    line-height: 61px;
    margin: 10px;
    position: relative;
    text-shadow: 1px 1px 1px #FFFFFF;
    top: 7px;
    width: 400px;
}
#header img {
    left: 218px;
    position: relative;
    top: -41px;
    vertical-align: top;
    z-index: 3;
}
.logo {
    left: 309px;
    position: relative;
    top: 75px;
}
#socialMedia {
    left: 597px;
    position: relative;
    text-align: right;
    top: 9px;
    width: 140px;
    z-index: 3;
}
#designedBy {
    font-size: 12px;
    left: 742px;
    margin: 0;
    padding-right: 10px;
    position: relative;
    text-align: right;
    top: -84px;
    width: 220px;
    z-index: 5;
}
#designedBy a {
    color: #5E5E5E;
    text-decoration: none;
}
#designedBy a:hover {
    color: #0066B3;
}
.profilePhoto {
    border: 1px solid #000000;
    left: 0;
    margin: 10px 10px 10px 20px;
    position: relative;
    top: 10px;
}
